#inner-box{
    height: 250px;
    width: 250px;
    border-width: 50;
    border-style: solid;
    border-color: pink;
    background-color: salmon;
}

#outer-box{
    background-color: teal;
    padding: 50px;
    height: 300px;
    width: 300px;
}
.bg-img1{
    width: 30%;
    border-radius: 1%;
    border: 5px solid violet;
}