#demo01{
    border: 4px solid wheat;
    padding: 150px;
    /* background-color: #359; */
    background-image: url('https://cdn.britannica.com/05/236505-050-17B6E34A/Elon-Musk-2022.jpg');
    background-repeat: no-repeat;
    background-origin: content-box;
}

.box1{
    width: 250px;
    height: 50px;
    margin: 10px;
    border: 5px solid purple;
    padding: 80px;
    box-sizing: content-box;

}   

.box2{
    width: 350px;
    height: 50px;
    margin: 10px;
    border: 5px solid purple;
    padding: 80px;
    box-sizing: border-box;
}
